/* src/App.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  color: #6200ea;
}

h4 {
  color: #6200ea;
}

.MuiTableCell-root {
  padding: 16px;
  font-size: 1rem;
}

.MuiTableRow-root:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: #ffffff;
}
